@model VT.Web.Models.SplashMerchantModel

@{
    ViewBag.Title = "Splash";
    Layout = "~/Views/Shared/LoggedInLayout.cshtml";
    var defaultMCC = ViewBag.DeafultMCC;
    var formPost = Model.IsEditMode ? "UpdateMerchant" : "SaveMerchant";
}

@section PageLevelStyles{
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    <link href="~/Content/bootstrap-datepickercss.css" rel="stylesheet" />
}
@section PageLevelScripts{

    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
    <script src="~/Scripts/jquery.maskMoney.js"></script>
    <script src="@Url.Content("~/Scripts/app/splash.js")"></script>
    <script type="text/javascript">

        $('.datepicker').datepicker();

        $('.phone').inputmask({
            mask: '(999) 999-9999'
        });

        $('.SSN').inputmask({
            mask: '999-99-9999'
        });

        $('.mcc').inputmask({
            mask: '9999'
        });

        $("#AnnualCCSales").maskMoney({ prefix: ' ', allowNegative: false, thousands: ',', precision: '0', affixesStay: false });

        $('.bankaccountnumber').inputmask({
            mask: '99999?9999999999999',
            required: true
        });

        $('.routingnumber').inputmask({
            mask: '999999999',
            required: true
        });

        // hide datepicker on selection
        $('input.datepicker').on('keyup', function () {
            $(this).datepicker('hide');
        });

        $('input.datepicker').on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;

            var val = evt.srcElement.value + evt.key;
            var length = val.length;

            if (length == 1 && val == "0") {
                return false;
            }

            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }

            if (length > 1) {
                var value = parseInt(val);
                if (value > 100) {
                    return false;
                }
            }
            return true;
        }

        $("#Pops").popover({
            html: true,
            content: function () {
                return $('#popover-content').html();
            }
        });

    </script>

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gateway Information</h2>
    </div>
    <div class="col-lg-12">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3><label style="color:#1ab394;"><b>Merchant Account Details</b></label></h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="well">
                        <h3>
                            Disclaimer:
                        </h3>
                        All of the following information is required by the payment processor to validate you and your company to
                        receive payments immediately via credit card payments from your customers. None of the personal and financial
                        data you enter here is stored in the Workflow System. The information is sent directly to payment processor and
                        kept secured according to their strict standards and policies.
                    </div>
                    <div class="row">
                        <form id="saveMerchantForm" action="@Url.Action(formPost, "Splash")" class="form-horizontal" method="POST" role="form">
                            @Html.HiddenFor(x => x.EntityLoginId)
                            @Html.HiddenFor(x => x.CompanyId)
                            <h3 class="plr-15"><label style="color:#1ab394;"><b>Merchant </b></label></h3>
                            <div class="hr-line-dashed"></div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Approximate Annual Sales</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                                                @Html.TextBoxFor(x => x.AnnualCCSales, new { @class = "form-control small", placeholder = "Annual Sales" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="plr-15"><label style="color:#1ab394;"><b>Business Entity</b></label></h3>
                            <div class="hr-line-dashed"></div>
                            <h4 class="plr-15"><label style="color:#1ab394;"><b>General</b></label></h4>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.EntityName, new { @class = "form-control small", placeholder = "Name" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Type</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.DropDownListFor(x => x.EntityType, ViewData["EntityTypes"] as IEnumerable<SelectListItem>, new { @class = "form-control small" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>
                                                EIN &nbsp;
                                                <button type='button' class='btn btn-primary btn-xs' data-toggle='popover' data-trigger="focus" data-placement='top' data-content="Your entity's tax identification number. Use your SSN if you are a sole proprietor">INFO</button>
                                            </label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.EntityEIN, new { @class = "form-control small", placeholder = "Tax Identification Number" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>
                                                Date Established &nbsp;
                                                <button type='button' class='btn btn-primary btn-xs' data-toggle='popover' data-trigger="focus" data-placement='top' data-content="Enter the date your entity was established">INFO</button>
                                            </label>
                                        </div>
                                        <div class="col-lg-12">
                                            <input name="Established" id="fromdatetimepicker" type='text' style="cursor: pointer;   text-align: left;  font-weight: bold;" class="form-control datepicker date-top" readonly="readonly" value="@Model.Established" placeholder="Select a Date" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.EntityPhone, new { @class = "form-control small phone", placeholder = "Phone" })

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group m-b">
                                                @Html.TextBoxFor(x => x.EntityEmail, new { @class = "form-control small", placeholder = "Email" })
                                                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Website</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.EntityWebsite, new { @class = "form-control small", placeholder = "http://example.com" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="plr-15"><label style="color:#1ab394;"><b>Address</b></label></h4>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Street Address</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.EntityAddress1, new { @class = "form-control small", placeholder = "Street Address" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Street Address 2</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.EntityAddress2, new { @class = "form-control small", placeholder = "Street Address 2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-xs-6 form-group">
                                        <div class="col-lg-12">
                                            <label>City</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.EntityCity, new { @class = "form-control small", placeholder = "City" })
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-xs-6 form-group">
                                        <div class="col-lg-12">
                                            <label>State</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.DropDownListFor(x => x.EntityState, ViewData["StateList"] as IEnumerable<SelectListItem>, new { @class = "form-control small" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-6 form-group">
                                        <div class="col-lg-12">
                                            <label>Zip</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.EntityZip, new { @class = "form-control small", placeholder = "Zip" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-xs-6 form-group">
                                        <div class="col-lg-12">
                                            <label>Country</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.EntityCountry, new { @class = "form-control small", placeholder = "USA", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="plr-15"><label style="color:#1ab394;"><b>Merchant Settings</b></label></h4>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>
                                                MCC &nbsp;
                                                <button type='button' class='btn btn-primary btn-xs' data-toggle='popover' data-trigger="focus" data-placement='top' data-content="Merchant Category Code
                                               - do not modify this value unless someone from our company told you to do so">
                                                    INFO
                                                </button>
                                            </label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.MerchantCategoryCode, new { @class = "form-control small mcc", @Value = defaultMCC })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>
                                                Credit Card Statement Descriptor&nbsp;
                                                <button type='button' class='btn btn-primary btn-xs' data-toggle='popover' data-trigger="focus" data-placement='top' data-content="Enter the description to appear on your customer's credit card statement">
                                                    INFO
                                                </button>
                                            </label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.DBA, new { @class = "form-control small", placeholder = "Statement Descriptor" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="plr-15">
                                <label style="color:#1ab394;">
                                    <b>Business Owner</b>
                                </label>
                            </h3>
                            <div class="hr-line-dashed"></div>
                            <h4 class="plr-15"><label style="color:#1ab394;"><b>General</b></label></h4>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>First Name</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.MemberFirstName, new { @class = "form-control small", placeholder = "First Name" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Last Name</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.MemberLastName, new { @class = "form-control small", placeholder = "Last Name" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Title&nbsp;(e.g. President)</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.MemberTitle, new { @class = "form-control small", placeholder = "Title" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Ownership Interest</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-group m-b">
                                                @Html.TextBoxFor(x => x.MemberOwnerShip, new { @class = "form-control small", @onkeypress = "return isNumber(event)" })
                                                <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.MemberEmail, new { @class = "form-control small", placeholder = "Email" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Date Of Birth</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <input name="MemberDateOfBirth" id="fromdatetimepicker" type='text' style="cursor: pointer;   text-align: left;  font-weight: bold;" class="form-control datepicker date-top" readonly="readonly" value="@Model.MemberDateOfBirth" placeholder="Select a Date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="plr-15"><label style="color:#1ab394;"><b>Verification</b></label></h4>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Social Security Number</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.MemberSocialSecurityNumber, new { @class = "form-control small SSN", placeholder = "Security Number" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Driver's License</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.MemberDriverLicense, new { @class = "form-control small", placeholder = "Driver License" })
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Driver's License State</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.DropDownListFor(x => x.MemberDriverLicenseState, ViewData["StateList"] as IEnumerable<SelectListItem>, new { @class = "form-control small" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="plr-15">
                                <label style="color:#1ab394;">
                                    <b>Account</b>
                                </label>
                            </h3>
                            <div class="hr-line-dashed"></div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Account Number</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.CardOrAccountNumber, new { @class = "form-control small bankaccountnumber", placeholder = "Account Number" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Bank Routing Number</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(x => x.AccountsRoutingCode, new { @class = "form-control small routingnumber", placeholder = "Routing Code" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 form-group">
                                        <div class="col-lg-12">
                                            <label>Account Type</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Html.DropDownListFor(x => x.AccountsPaymentMethod, ViewData["AccountTypes"] as IEnumerable<SelectListItem>, new { @class = "form-control small" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="co-lg-12">
                                <div class="pull-right" style="padding-right:105px;">
                                    <button id="btnAddMerchant" type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

