@using VT.Services.DTOs
@model  SystemEmployeeModel

<div id="modal-edit-linkedemployee-form" class="modal fade" aria-hidden="true" style="z-index:9999 !important;">
    <div class="modal-dialog modal-md">
        <form id="saveLinkedEmployeeForm" action="@Url.Action("UpdateLinkedEmployee", "Quickbooks")"
              class="form-horizontal"
              method="POST" role="form">
            @Html.AntiForgeryToken();
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="modal-edit-linkedemployee-title"><b>Edit Employee</b> </h4>
                    <small class="font-bold"></small>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.HiddenFor(x => x.CompanyId)
                            @Html.HiddenFor(x => x.EmployeeId)
                            @Html.HiddenFor(x => x.QBEmployeeId)
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <h3><b><span id="matchStatus" style="color:#1ab394;"></span></b></h3>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">First Name</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.GivenName, new { @class = "form-control small", placeholder = "First Name" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Last Name</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.FamilyName, new { @class = "form-control small", placeholder = "Last Name" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control small", placeholder = "Email" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnSaveLinkedEmployee" type="submit" class="btn btn-warning">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
