@model VT.Web.Models.SplashCustomerModel

@{
    var model = Model;
}

<form id="saveCompanyCreditCard" action="@Url.Action("SaveCustomerCreditCardForCompany", "Splash")" class="form-horizontal" method="POST" role="form">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-3">
            @Html.HiddenFor(x => x.CompanyId)
            @Html.HiddenFor(x => x.CustomerId)
            @Html.HiddenFor(x => x.IsCustomerMode)
            <div class="form-group merchant-p">
                <label class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.CustomerFirstName, new { @class = "form-control small" })
                </div>
            </div>
            <div class=""></div>
            <div class="form-group merchant-p">
                <label class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.CustomerLastName, new { @class = "form-control small" })
                </div>
            </div>
            <div class=""></div>
            <div class="form-group merchant-p">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.CustomerEmail, new { @class = "form-control small" })
                </div>
            </div>
            <div class=""></div>

            <div class="form-group merchant-p">
                <label class="col-sm-3 control-label" for="card-number">Card Number</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.PaymentNumber, new { @class = "form-control small" })
                </div>
                <div class="col-sm-9" id="card-number"></div>
            </div>
            <div class=""></div>
            <div class="form-group merchant-p">
                <label class="col-sm-3 control-label" for="cvv">CVV</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.PaymentCvv, new { @class = "form-control small" })
                </div>
                <div class="col-sm-9" id="cvv"></div>
            </div>
            <div class=""></div>
            <div class="form-group merchant-p">
                <label class="col-sm-3 control-label">Payment Method</label>
                <div class="col-sm-9">
                    <select id="PaymentMethod" name="PaymentMethod" class="form-control">
                        @foreach (var item in ViewData["PaymentMethod"] as IEnumerable<SelectListItem>)
                        {
                            <option value="@item.Value" @(item.Value == Model.PaymentMethod ? "selected='selected'" : "")>@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class=""></div>
            <div class="form-group merchant-p">
                <div class="col-lg-12">
                    <div class="row">
                        <label class="col-sm-3 control-label" for="expiration-date">Expiration</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(x => x.Month, ViewData["MonthsList"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-5">
                            @Html.DropDownListFor(x => x.Year, ViewData["YearsList"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        </div>
                        <!--<div class="col-sm-2" id="expiration-date"></div>-->
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border:none">
                <button onclick="location.href='@Url.Action("Index", "Organizations")';return false;" class="btn btn-default">Cancel</button>
                @if (Model.IsEditMode)
                {
                    <button id="update-merchantCC" class="btn btn-warning">Update</button>
                }
                else
                {
                    <button id="btnSaveCompanyCreditCard" type="submit" class="btn btn-warning">Submit</button>
                }
            </div>
        </div>
    </div>
</form>
