@model VT.Web.Models.CustomerDetailViewModel
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <address>
            <strong class="change">@(Model.Name)<br></strong>
            @(Model.Address)<br>
            @(Model.City) @(Model.State), @(Model.PostalCode)<br>
            @(Model.Country)
        </address>
    </div> 
</div>
