@using Kendo.Mvc.UI
@using VT.Common
@model VT.Services.DTOs.OrganizationDetailResponse

@{
    var ImageUrl = string.Empty;
    var imageChanged = Session["ImageUrl"];
    var customIdentity = (CustomIdentity)User.Identity;
    ImageUrl = Model.ImageUrl;
}

<div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="m-b-md">
                            <a class='btn btn-white btn-xs pull-right close-org' data-id='@Model.OrganizationId' href='#' title='Close'><i class="fa fa-close"></i></a>
                            <a class='btn btn-white btn-xs pull-right edit-org' data-id='@Model.OrganizationId' href='#' title='Edit'>Edit Organization</a>
                            <h2>@(Model.Name)&nbsp;(Summary)</h2>
                        </div>
                        <dl class="dl-horizontal">
                            <dt>Status:</dt>
                            <dd><span class="label @(!Model.IsDeleted ? "label-primary" : "label-warning")"> @(Model.IsDeleted ? "Not Active" : "Active")</span></dd>
                        </dl>
                        <div class="col-lg-4">
                            <dl class="dl-horizontal">
                                <dt>Service Fee %:</dt>
                                <dd>
                                    <strong>@(Model.ServiceFeePercentage)</strong><br>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-4">
                            <dl class="dl-horizontal">
                                <dt>Gateway:</dt>
                                <dd>
                                    <strong>@(Model.PaymentGatewayType)</strong><br>
                                </dd>
                            </dl>
                        </div>
                    </div>       
                    <div class="col-lg-4">
                        <dl class="dl-horizontal">
                            <dt>Address:</dt>
                            <dd style="line-height:24px;">
                                <strong>@(Model.Address)</strong><br>
                                @(Model.City), @(Model.State) @(Model.PostalCode)<br>
                                @(Model.Country)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-lg-4">
                        <dl class="dl-horizontal">
                            <dt>Contact:</dt>
                            <dd style="line-height:24px;">
                                <strong>@(string.Format("{0} {1}", Model.ContactFirstName, Model.ContactLastName))</strong> <br />
                                @(Model.ContactEmail) <br />
                                <abbr title="Phone">P:</abbr> @(Model.ContactTelephone != null ? Model.ContactTelephone + "," : string.Empty) @(Model.ContactMobile)
                            </dd>
                            @*<dt>Services:</dt>
                                <dd>3</dd>
                                <dt>Organization:</dt>
                                <dd><a class="text-navy" href="#"> @(Model.CompanyName)</a>
                            </dd>*@
                        </dl>
                    </div>
                    <div class="col-lg-2">
                        <dl class="dl-horizontal">
                            <dt style="margin-top:40px";>Company Logo:</dt>
                            <dd>
                                <span>
                                    <img alt="No Image Uploaded Yet" class="img-circle" height="100" width="100" src="@(imageChanged!=null?imageChanged:ImageUrl!=null?ImageUrl:"/Content/user.png")" />
                                </span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
