@using VT.Common
@model VT.Web.Models.SaveOrganizationViewModel
<div id="modal-add-org-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <form id="saveOrganizationForm" action="@Url.Action("SaveOrganization", "Organizations")" class="form-horizontal" method="POST" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal-org-form-title">Add Organization</h4>
                    <small class="font-bold"></small>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.HiddenFor(x => x.OrganizationId)
                            <input type="hidden" value="@Model.Name" id="OriginalName" name="OriginalName" />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control small" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Service Fee %</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.ServiceFeePercentage, new { @class = "form-control small" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Address</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control small", placeholder = "Address" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.City, new { @class = "form-control small", placeholder = "City" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(x => x.State, ViewData["StateList"] as IEnumerable<SelectListItem>, new { @class = "form-control small" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.PostalCode, new { @class = "form-control small", placeholder = "Zip" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    @*@Html.TextBoxFor(x => x.Country, new { @class = "form-control small", placeholder = "Country" })*@
                                    <select id="Country" name="Country" class="form-control small">
                                        <option value="United States">United States</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Contact</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.ContactFirstName, new { @class = "form-control small", placeholder = "First Name" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.ContactMiddleName, new { @class = "form-control small", placeholder = "Middle Name" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.ContactLastName, new { @class = "form-control small", placeholder = "Last Name" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.ContactEmail, new { @class = "form-control small", placeholder = "Email" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.ContactMobile, new { @class = "form-control small phone", placeholder = "Mobile" })
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.ContactTelephone, new { @class = "form-control small phone", placeholder = "Telephone" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Payment Gateway</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(x => x.PaymentGatewayType, ViewData["PaymentGateway"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            @*<div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"> Preferences </label>
                                    <div class="col-sm-9"> @Html.CheckBoxFor(x => x.Preferences, new { @class = "small" }) </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="btnSaveOrg" type="submit" class="btn btn-warning">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
