@using Kendo.Mvc.UI
@using VT.Common
@using VT.Web.Models
@model CommissionInputModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoggedInLayout.cshtml";
}

@section PageLevelStyles{
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet"/>
    <link href="~/Content/plugins/chosen/chosen.css" rel="stylesheet" />
}

@section PageLevelScripts
{
    <script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">

        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        var refreshList = function(id, data) {

            $(id).empty().prepend("<option value=''></option>").val('').trigger("liszt:updated");

            $.each(data, function(index, item) {
                $(id).append($('<option>',
                {
                    value: item.Value,
                    text: item.Text,
                    selected: item.Selected
                }));
            });

            $(id).chosen({ width: "95%" });
        };

        var fillCustomers = function(val) {
            $.ajax({
                url: '/Accounting/GetCustomers/' + val,
                type: 'GET',
                success: function (data) {
                    if (data.message) {
                        VT.Util.HandleLogout(data.message);
                    }
                    $("#data_3").removeClass("hide");
                    refreshList("#Customers", data);
                    return false;
                }
            });
        };

        $("#CompanyId").change(function() {
            var val = $(this).val();
            if (val == '' || val == "-1") {
                return false;
            }


            var companyName = $("#CompanyId option:selected").text();
            $("#CompanyName").val(companyName);

            fillCustomers(val);
        });

        @if (User.IsInRole(UserRoles.CompanyAdmin.ToString()))
        {
            @:fillCustomers($("#CompanyId").val());
        }

        // Unpaid Services
        var unpaidServicesForm = $("#formUnpaidServices").validate({
            rules: {
                StartDate: {
                    required: true
                },
                CompanyId: {
                    required: true
                },
                EndDate: {
                    required: true
                },
                Customers : {
                    required: true
                }
            },
            highlight: function (label) {
                $(label).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (label) {
                $(label).closest('.form-group').removeClass('has-error');
                label.remove();
            },
            errorPlacement: function (error, element) {
                var placement = element.closest('.input-group');
                if (!placement.get(0)) {
                    placement = element;
                }
                if (error.text() !== '') {
                    placement.after(error);
                }
            },
            submitHandler: function (form) {
                var buttonText = $("#btnRunReport").html();

                $("#btnRunReport").attr('disabled', '').html('<i class="fa fa-spinner fa-spin"></i>&nbsp; ' + buttonText);

                $(form).ajaxSubmit({
                    success: function (data) {
                        if (data) {
                            if (data.message) {
                                VT.Util.HandleLogout(data.message);
                            }
                            $("#results").html(data);
                        } else {
                            VT.Util.Notification(false, "Some error occured.");
                        }
                        $("#btnRunReport").attr('disabled', null).html(buttonText);
                    },
                    error: function (xhr, status, error) {
                        $("#btnRunReport").attr('disabled', null).html(buttonText);
                    }
                });
                return false;
            }
        });

    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>INCOME & EXPENSE</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>INCOME & EXPENSE</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="formUnpaidServices" action="@Url.Action("GetUnpaidServices","Accounting")" method="POST">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" id="data_1">
                                    <label class="font-noraml">Start Date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @Html.TextBoxFor(x => x.StartDate, new {@class = "form-control"})
                                    </div>
                                </div>

                                @if (User.IsInRole(UserRoles.SuperAdmin.ToString()))
                                {
                                    <div class="form-group" id="data_4">
                                        <label class="font-noraml">Organization</label>
                                        <div class="input-group">
                                            @Html.DropDownListFor(x => x.CompanyId, ViewData["Organizations"] as IEnumerable<SelectListItem>, new {@class = "form-control"})
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(x => x.CompanyId)
                                }
                                @Html.HiddenFor(x => x.CompanyName)
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" id="data_2">
                                    <label class="font-noraml">End Date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @Html.TextBoxFor(x => x.EndDate, new {@class = "form-control"})
                                    </div>
                                </div>
                                <div class="form-group hidden" id="data_3">
                                    <label class="font-noraml">Customers</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.Customers, ViewData["Customers"] as IEnumerable<SelectListItem>, new {@class = "chosen-select", multiple = "multiple"})
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input id="btnRunReport" type="submit" value="Run Report" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row" id="results">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

